body{
    background-color:cadetblue;
}
.about{
    background-color:transparent;
    position:absolute;
    top:20%;
    left:20%;
    width:60%;

}
.about h1{
    text-align: center;
}
.about p{
    font-style: oblique;
    font-weight:400;
}
.about p:last-child{
    text-align: center;
    font-weight: 900;
    font-style: normal;


}

/*--------------------------------------------------------------------------------------------------------------------------------------------------*/

.login{
    position:fixed;
    top:20%;
    left:35%;
    width: 30%;
    text-align: center;

}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.main{
    position:fixed;
    top:20%;
    left:34%;
    width: 32%;
    height:60%;
    text-align: center;
    box-shadow: 3px 0px 15px;

}
.main a{
    text-decoration: none;
    font-style: italic;
    color:dimgrey
}
.main h1::before{
    content: ' Get your self ,';
    background-color: brown;
    font-weight: 700;
    border-style: none;
    box-shadow: 3px 0px 15px;

}
.main h1::after{
    content: '!!!';
    color: brown;
    font-weight: 700;
    border-style: none;

}
.main button{
    background-color:aliceblue;
    border-style:none;
    border-radius: 25px;
    padding: 10px 16px;
    padding-left: 20px;
    width:max-content;
    box-shadow: 3px 2px 15px;
    box-shadow:aliceblue;

}

